@model SCA.Models.Flotilla

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Flotilla</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdFlotilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFlotilla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Traccion)
        </dt>

        <dd>
            @if (Model.Traccion > 0)
            {
                @Html.Raw("4x4");
            }
            else
            {
                @Html.Raw("4x2");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ano)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ano)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Combustible)
        </dt>

        <dd>
            @if (Model.Combustible > 0)
            {
                @Html.Raw("Diesel");
            }
            else
            {
                @Html.Raw("Gasolina");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoVehiculo)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.MotivoDeshabilitar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MotivoDeshabilitar)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdFlotilla }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
