@model SCA.Models.MantenimientoVehiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Realmente desea borrar el mantenimiento del vehiculo?</h3>
<div>
    <h4>Mantenimiento del vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMantenimientoVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMantenimientoVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdFlotilla)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdFlotilla)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometrajeActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometrajeActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProximoKilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProximoKilometraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
