@model SCA.Models.MantenimientoVehiculo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MantenimientoVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMantenimientoVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMantenimientoVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flotilla.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flotilla.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMantenimiento)
        </dt>

        <dd>
            @if (Model.TipoMantenimiento > 0)
            {
                @Html.Raw("Correctivo");
            }
            else
            {
                @Html.Raw("Preventivo");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometrajeActual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometrajeActual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProximoKilometraje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProximoKilometraje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdMantenimientoVehiculo }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
