@model IEnumerable<SCA.Models.BitacoraMovimiento>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bitacora de movimientos</h2>

<br />
<div class="row">
    <form method="get" class="col-3">
        <div class="form-group">
            <label class="control-label col-md-10">Nombre de usuario:</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="Nombre" value="@Request.QueryString["Nombre"]" required />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
    <form method="get" class="col-3">
        <div class="form-group">
            <label class="control-label col-md-10">Tipo de mantenimiento:</label>
            <div class="col-md-10">
                <select name="Tipo" class="form-control">
                    <option value="Agrego">Agrego</option>
                    <option value="Edito">Edito</option>
                    <option value="Elimino">Elimino</option>
                </select>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
    <form method="get" class="col-8">
        <div class="form-group">
            <div class="col-md-10 row">
                <div class="col-4">
                    <label class="control-label col-md-10">Fecha inicial:</label>
                    <input type="date" class="form-control" name="FechaIni" value="@Request.QueryString["FechaIni"]" required />
                </div>
                <div class="col-4">
                    <label class="control-label col-md-10">Fecha Final:</label>
                    <input type="date" class="form-control" name="FechaFin" value="@Request.QueryString["FechaFin"]" required />
                </div>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
    <br />
    <form class="">
        <br />
        <button class="btn btn-outline-secondary" type="submit">Limpiar</button>
    </form>
</div>
<br />
<table class="table table-bordered table-responsive" id="Tabla">
    <thead>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoMovimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModuloAfectado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorAntiguo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorNuevo)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Usuario1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoMovimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuloAfectado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorAntiguo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorNuevo)
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
    var Usuario = '@Session["Usuario"].ToString()';//agarra el valor del usuario logueado
        var f = new Date();
        var d = f.getDate() + "/" + (f.getMonth() + 1).toString() + "/" + f.getFullYear() + "   " + " hora: " + f.getHours() + ":" + f.getMinutes();
        $(document).ready(function () {
            $('#Tabla').DataTable({
                "searching": true,
                "lengthChange": false,
                dom: 'Bfrtip',
                "scrollX": true,
                "scrollY": true,
                language: {
                    sLengthMenu: "_MENU_",
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_",
                    infoEmpty: "Mostrando 0 de 0",
                    infoPostFix: "",
                    search: "Buscar",
                    thousands: ",",
                    loadingRecords: "Cargando...",
                    processing: "<div class='lds-dual-ring'></div>",
                    zeroRecords: "No se encontraron resultados",
                    paginate: {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                }, buttons: [
                    {
                        extend: 'pdf',
                        orientation: 'landscape',
                        text: '<button class="btn btn-outline-secondary"> Exportar a PDF</button>',
                        filename: 'Bitacora de movimientos',
                        title: "D'geo \n Bitacora de movimientos \n Fecha: " + d,
                        customize: function (doc) {
                         doc.content[1].margin = [190, 0, 190, 0];
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'left',
                                            text:
                                                [
                                                    { text: 'Usuario: ' + Usuario, italics: true }
                                                ]
                                        },
                                        {
                                            alignment: 'right',
                                            text: [
                                                'Pagina ',
                                                { text: page.toString(), talics: true },
                                                ' de ',
                                                { text: page.toString(), talics: true },
                                            ]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });

                        },
                        exportOptions: {
                            columns: [0, 1, 2,3]
                        }
                    }
                ]
            });
        });
    </script>
}