@model SCA.Models.ControlVehiculo

@{
    ViewBag.Title = "Delete";
}

<h2>Borrar</h2>

<h3>Realmente desea eliminar el control del vehículo?</h3>
<div>
    <h4>ControlVehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdControlVehiculo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdControlVehiculo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flotilla.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flotilla.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoVehiculo)
        </dt>

        <dd>
            @if (Model.EstadoVehiculo > 0)
            {
                @Html.Raw("Malo");
            }
            else
            {
                @Html.Raw("Bueno");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometrajeSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometrajeSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KilometrajeIngresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KilometrajeIngresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anomalias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anomalias)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
