@model SCA.Models.Usuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdUsuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUsuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Personal.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perfiles_Acceso.Id_Perfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perfiles_Acceso.Id_Perfil)
        </dd>

        <dt>
            Usuario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario1)
        </dd>

        <dt>
            Contraseña encriptada
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contraseña)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUsuario  }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
