@model SCA.Models.PerfilesViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Perfiles de acceso</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
                <label class="control-label col-md-2" for="Id_Perfil">Id del perfil</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Id_Perfil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id_Perfil, "", new { @class = "text-danger" })
                </div>
            </div>*@

        <div class="form-group">
            <label class="control-label col-md-2" for="NombrePerfil">Nombre del perfil</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.NombrePerfil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombrePerfil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <h3>Permisos</h3>
        <div class="row ">
            <!--Permisos-->

            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[0].Modulo" value="Departamentos" />
                <input type="checkbox" name="ModulosEscogidos[0].Checked" value="true">
                <label for="ModulosEscogidos_0__Checked">Departamentos</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[1].Modulo" value="Colaboradores" />
                <input type="checkbox" name="ModulosEscogidos[1].Checked" value="true">
                <label for="ModulosEscogidos[1].Checked">Colaboradores</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[2].Modulo" value="Licencias" />
                <input type="checkbox" name="ModulosEscogidos[2].Checked" value="true">
                <label for="ModulosEscogidos[2].Checked">Licencias</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[3].Modulo" value="Usuarios" />
                <input type="checkbox" name="ModulosEscogidos[3].Checked" value="true">
                <label for="ModulosEscogidos[3].Checked">Usuarios</label>
            </div>
        </div>
        <div class="row">
            <br />
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[4].Modulo" value="Personal" />
                <input type="checkbox" name="ModulosEscogidos[4].Checked" value="true">
                <label for="ModulosEscogidos[4].Checked">Personal</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[5].Modulo" value="ControlInventario" />
                <input type="checkbox" name="ModulosEscogidos[5].Checked" value="true">
                <label for="ModulosEscogidos[5].Checked">Control de Inventario</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[6].Modulo" value="ControlVehículos" />
                <input type="checkbox" name="ModulosEscogidos[6].Checked" value="true">
                <label for="ModulosEscogidos[6].Checked">Control de Vehículos</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[7].Modulo" value="Flotilla" />
                <input type="checkbox" name="ModulosEscogidos[7].Checked" value="true">
                <label for="ModulosEscogidos[7].Checked">Flotilla</label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[8].Modulo" value="MantenimientoInventario" />
                <input type="checkbox" name="ModulosEscogidos[8].Checked" value="true">
                <label for="ModulosEscogidos[8].Checked">Mantenimiento de Inventario</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[9].Modulo" value="MantenimientoVehículos" />
                <input type="checkbox" name="ModulosEscogidos[9].Checked" value="true">
                <label for="ModulosEscogidos[9].Checked">Mantenimiento de Vehículos</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[10].Modulo" value="Perfiles" />
                <input type="checkbox" name="ModulosEscogidos[10].Checked" value="true">
                <label for="ModulosEscogidos[10].Checked">Perfiles</label>
            </div>
            <div class="col-3">
                <input type="hidden" name="ModulosEscogidos[11].Modulo" value="Inventario" />
                <input type="checkbox" name="ModulosEscogidos[11].Checked" value="true">
                <label for="ModulosEscogidos[11].Checked">Inventario</label>
            </div>
            <div class="col-8">
                <input type="hidden" name="ModulosEscogidos[12].Modulo" value="BitacoraEntrada/Salida" />
                <input type="checkbox" name="ModulosEscogidos[12].Checked" value="true">
                <label for="ModulosEscogidos[12].Checked">Reporte Bitácora Entrada / Salida</label>
                <input type="hidden" name="ModulosEscogidos[13].Modulo" value="BitacoraMovimientos" />
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="ModulosEscogidos[13].Checked" value="true">
                <label for="ModulosEscogidos[13].Checked">Reporte Bitácora Movimientos</label>
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar" class="btn btn-outline-secondary" />
            </div>
        </div>
        <br />
    </div>
}

<div>
    @Html.ActionLink("Volver a la lista", "Index")
</div>
