@model SCA.Models.PerfilesViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Borrar</h2>

<h3>Realmente desea eliminar el perfil?</h3>
<div>
    <h4>Perfiles de acceso</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id_Perfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id_Perfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombrePerfil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombrePerfil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Permisos
        </dt>

        <dd>
            @foreach (var Item in Model.ModulosEscogidos)
            {
                Html.Raw(Item.Modulo);
                Html.Raw("<br/>");
            }
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
