@model SCA.Models.DepartamentoViewModel

@{
    ViewBag.Title = "Delete";
}
@Html.Raw(TempData["msg"])
<h2>Eliminar</h2>

<h3>Realmente desea eliminar el departamento?</h3>
<div>
    <h4>Departamento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDepartamento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
