@model SCA.Models.Inventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoEmpresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoEmpresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fabricante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fabricante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaCompra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCompra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoEquipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoEquipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Garantia)
        </dt>

        <dd>
            @if (Model.Garantia > 0)
            {
                @Html.Raw("Si");
            }
            else
            {
                @Html.Raw("No");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VenceGarantia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VenceGarantia)
        </dd>

        <dt>
            Departamento
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Departamento.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdInventario }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
