@model SCA.Models.MantenimientoInventario

@{
    ViewBag.Title = "Delete";
}
@Html.Raw(TempData["msg"])
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MantenimientoInventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMantenimientoInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMantenimientoInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProximoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProximoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-outline-secondary" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>
    }
</div>
