@model SCA.Models.MantenimientoInventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["msg"])
<h2>Detalles</h2>

<div>
    <h4>Mantenimiento Inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdMantenimientoInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdMantenimientoInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdInventario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProximoMantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProximoMantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionServicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.IdMantenimientoInventario }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
