<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/responsive.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/buttons.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Scripts/datatable/css/colReorder.dataTables.min.css" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <!-- Navbar Start -->
    <div class="container-fluid sticky-top bg-dark bg-light-radial shadow-sm px-5 pe-lg-0">
        <nav class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-dark py-3 py-lg-0">
            <a href="@Url.Action("Index","Home")" class="navbar-brand">
                <h1 class="m-0 display-4 text-uppercase text-white"><i class="bi bi-building text-primary me-2"></i>SCA</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Inicio</a>
                        <div class="dropdown-menu m-0">
                            <a href="@Url.Action("Index","Home")" class="dropdown-item">Inicio</a>
                            <a href="@Url.Action("Salir","Home")" class="dropdown-item">Cerrar sesion</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Colaboradores</a>
                        <div class="dropdown-menu m-0">
                            <a href="@Url.Action("Index","Licencia")" class="dropdown-item">Licencias</a>
                            <a href="@Url.Action("Index","Personal")" class="dropdown-item">Personal</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Mantenimientos</a>
                        <div class="dropdown-menu m-0">
                            <a href="@Url.Action("Index","MantenimientoInventario")" class="dropdown-item">Inventario</a>
                            <a href="@Url.Action("Index","MantenimientoVehiculo")" class="dropdown-item">Vehículos</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Seguridad</a>
                        <div class="dropdown-menu m-0">
                            <a href="@Url.Action("Index","Perfiles_Acceso")" class="dropdown-item">Perfiles de acceso</a>
                            <a href="@Url.Action("Index","Usuario")" class="dropdown-item">Usuarios</a>
                        </div>
                    </div>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Controles</a>
                        <div class="dropdown-menu m-0">
                            <a href="@Url.Action("Index","Perfiles_Acceso")" class="dropdown-item">Control de inventarios</a>
                            <a href="@Url.Action("Index","ControlVehiculo")" class="dropdown-item">Control de vehículos</a>
                        </div>
                    </div>
                    <a href="@Url.Action("Index","Departamento")" class="nav-item nav-link">Departamento</a>
                    <a href="@Url.Action("Index","Inventario")" class="nav-item nav-link">Inventario</a>
                    <a href="@Url.Action("Index","Flotilla")" class="nav-item nav-link">Flotilla</a>
                    <a href="@Url.Action("Index","Usuario")" class="nav-item nav-link">ayuda</a>
                    <a class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block">Usuario: @Session["Usuario"].ToString()</a>
                    @*<a href="" class="nav-item nav-link bg-primary text-white px-5 ms-3 d-none d-lg-block">Get A Quote <i class="bi bi-arrow-right"></i></a>*@
                </div>
            </div>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="form-check-inline">
                <p>&copy; @DateTime.Now.Year - Sistema de control de activos</p>
            </div>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.6.0.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    @Scripts.Render("~/bundles/plantilla")
    <script type="text/javascript" charset="utf8" src="~/Scripts/datatable/js/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.responsive.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/datatable/js/dataTables.colReorder.min.js"></script>
    <script src="~/Scripts/datatable/js/buttons.html5.min.js" defer></script>
    <script src="~/Scripts/datatable/js/buttons.print.min.js" defer></script>
    <script src="~/Scripts/datatable/js/buttons.colVis.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.2/pdfmake.min.js" integrity="sha512-Yf733gmgLgGUo+VfWq4r5HAEaxftvuTes86bKvwTpqOY3oH0hHKtX/9FfKYUcpaxeBJxeXvcN4EY3J6fnmc9cA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.66/vfs_fonts.js"></script>
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
