@model SCA.Models.ControlInventario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["msg"])
<h2>Detalles</h2>

<div>
    <h4>Control de inventario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id de control de inventario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdControlInventario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inventario.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inventario.Nombre)
        </dd>

        <dt>
            Nombre de la persona
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Personal.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoActivo)
        </dt>

        <dd>
            @if (Model.EstadoActivo > 0)
            {
                @Html.Raw("Bueno");
            }
            else
            {
                @Html.Raw("Malo");
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaIngresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaIngresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anomalias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anomalias)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdControlInventario }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
