@model IEnumerable<SCA.Models.Licencia>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Raw(TempData["msg"])
<h2>Index</h2>

<p>
    @Html.ActionLink("Agregar Nuevo", "Create")
</p>

<table class="table table-responsive" id="Tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenceLicencia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdLicencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoLicencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenceLicencia)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
    var Usuario = '@Session["Usuario"].ToString()';//agarra el valor del usuario logueado
    var f = new Date();
    var d = f.getDate() + "/" + f.getMonth() + "/" + f.getFullYear() + "   " + " hora: " + f.getHours() + ":" + f.getMinutes();
    </script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable({
                "searching": true,
                "lengthChange": false,
                dom: 'Bfrtip',
                "scrollX": true,
                "scrollY": true,
                language: {
                    sLengthMenu: "_MENU_",
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_",
                    infoEmpty: "Mostrando 0 de 0",
                    infoPostFix: "",
                    search: "Buscar",
                    thousands: ",",
                    loadingRecords: "Cargando...",
                    processing: "<div class='lds-dual-ring'></div>",
                    zeroRecords: "No se encontraron resultados",
                    paginate: {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                }
            });
        });
    </script>
}