@model IEnumerable<SCA.Models.Personal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Personal</h2>
@Html.Raw(TempData["msg"])
<p>
    @Html.ActionLink("Agregar nuevo", "Create")
</p>
<div class="row">
    <form method="get" class="col-3">
        <div class="form-group">
            <label class="control-label col-md-10">Nombre de la persona:</label>
            <div class="col-md-10">
                <input type="text" name="Nombre" value="@Request.QueryString["Nombre"]" required />
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
    <form class="col-3">
        <div class="form-group">
            <label class="control-label col-md-5">Departamento:</label>
            <div class="col-md-10">
                @Html.DropDownList("IdDepartamento", (List<SelectListItem>)ViewBag.IdDepartamento, htmlAttributes: new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Buscar" class="btn btn-outline-secondary" />
            </div>
        </div>
    </form>
</div>
<br />
<table class="table table-bordered table-responsive" id="Tabla">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPersonal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Licencia.TipoLicencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarnetMS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenceCarnetMS)
            </th>
            <th>
                Departamento
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersonal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Licencia.TipoLicencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarnetMS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VenceCarnetMS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Nombre)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdPersonal }) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.IdPersonal }) |
                    @Html.ActionLink("Borrar", "Delete", new { id = item.IdPersonal })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    @*@Scripts.Render("~/bundles/jqueryval")*@
    <script>
        var Usuario = '@Session["Usuario"].ToString()';//agarra el valor del usuario logueado
        var f = new Date();
        var d = f.getDate() + "/" + (f.getMonth() + 1).toString() + "/" + f.getFullYear() + "   " + " hora: " + f.getHours() + ":" + f.getMinutes();
        $(document).ready(function () {
            $('#Tabla').DataTable({
                "searching": true,
                "lengthChange": false,
                dom: 'Bfrtip',
                "scrollX": true,
                "scrollY": true,
                language: {
                    sLengthMenu: "_MENU_",
                    decimal: "",
                    emptyTable: "No hay información",
                    info: "Mostrando _START_ a _END_ de _TOTAL_",
                    infoEmpty: "Mostrando 0 de 0",
                    infoPostFix: "",
                    search: "Buscar",
                    thousands: ",",
                    loadingRecords: "Cargando...",
                    processing: "<div class='lds-dual-ring'></div>",
                    zeroRecords: "No se encontraron resultados",
                    paginate: {
                        "first": "Primero",
                        "last": "Último",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    },
                }, buttons: [
                    {
                        extend: 'pdf',
                        orientation: 'landscape',
                        text: '<button class="btn btn-outline-secondary"> Exportar a PDF</button>',
                        filename: 'Reporte de colaboradores',
                        title: "D'geo \n Reporte de colaboradores \n Fecha: " + d,
                        customize: function (doc) {
                            doc.content[1].margin = [100, 0, 100, 0];
                            doc['footer'] = (function (page, pages) {
                                return {
                                    columns: [
                                        {
                                            alignment: 'left',
                                            text:
                                                [
                                                    { text: 'Usuario: ' + Usuario, italics: true }
                                                ]
                                        },
                                        {
                                            alignment: 'right',
                                            text: [
                                                'Pagina ',
                                                { text: page.toString(), talics: true },
                                                ' de ',
                                                { text: page.toString(), talics: true },
                                            ]
                                        }
                                    ],
                                    margin: [10, 0]
                                }
                            });

                        },
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4,5,6,7,8,9,10]
                        }
                    }
                ]
            });
        });
    </script>
}